body,
html {
  margin: 0;
  background: linear-gradient(#000000, #0057fa, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.1rem;
}


.msg_head {
  background-color: black;
  height: 100px;
  position: sticky; /* Fix the chat header at the top */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it span the entire width */
  z-index: 100; /* Ensure it appears above other elements */
}

@media only screen and (max-width: 600px) {
	.msg_head {
		height: 80px;
	}
}
